<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>カロリー</th>
        </tr>
        <tr th:each="info: ${okashi}">
            <td th:text="${info.id}">
            <td th:text="${info.name}">
            <td th:text="${info.kal}">
         </td>
         </tr>
     </table>

    <a th:href="@{/register}"><!-- URL「/」生成 -->
        <button>おやつを登録</button>
    </a>

<h1>第4回課題</h1>
</body>
</html>