<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録画面</title>
</head>
<body>

     <h2>新規登録(register.html)</h2>
     
     <form method="post" th:action="@{/register}" th:object="${okashi}">
             <label>ID:<input type="text" th:field="*{id}"></label><br>
             <label>名前:<input type="text" th:field="*{name}"></label><br>
             <label>カロリー:<input type="text" th:field="*{kal}"></label><br>
             
             <button>新規作成</button>
    </form>

</body>
</html>