<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper と xml の マッピング -->
<mapper namespace="com.example.demo.mapper.OkashiMapper">

<!-- ”selectAll” が呼ばれたとき、resulyTypeの型を返す-->
    <select id="selectAll" resultType="com.example.demo.domain.Okashi">
        SELECT * FROM okashi_data
    </select>

<!--1件取得-->
  <select id="findOne" resultType="com.example.demo.domain.Okashi">
    select  *
    from    okashi_data
    where   id = #{id}
  </select>

<!--登録-->
    <insert id="insertOne">
    insert into  okashi_data(
        id,
        name,
        kal
    )
    values (
        #{id},
        #{name},
        #{kal}
    )
  </insert>

  <!--変更-->
    <update id="updateOne">
    update  okashi_data
    set     name = #{name},
              kal = #{kal}
    where   id = #{id}
   </update>


</mapper>